{:paths   ["src"]
 :deps    {}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {org.clojure/clojure                      {:mvn/version "1.10.1"}
                                midje/midje                              {:mvn/version "1.9.9"}
                                org.clojure/test.check                   {:mvn/version "1.0.0"}
                                com.clojure-goes-fast/clj-async-profiler {:mvn/version "0.4.1"}}}}}
